<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Appenders>
    <!-- Time and size based triggering policies. Create upto 7 archives on same day (1-7), stored in directory based on  current year and month, compress each archive using zip -->	
	<RollingRandomAccessFile name="RollingRandomAccessFile" fileName="..\logs\qaauto.log"
						append="true" filePattern="..\logs\$${date:yyyy-MM}\qaauto-%d{yyyy-MM-dd}-%i.log.zip">
		<PatternLayout>
			<Pattern>%d{dd MMM yyyy HH:mm:ss,SSS} - [%t] %p %m%n</Pattern>
		</PatternLayout>
		<Policies>
			<TimeBasedTriggeringPolicy />
			<!-- Rollover when size greater than the specified size. -->
			<SizeBasedTriggeringPolicy size="10 MB"/>
			<!-- Keep upto 500 files when rollover happens (as per our filename pattern rollover will happen everyday). -->
			<DefaultRolloverStrategy max="500"/>
	  	</Policies>
	</RollingRandomAccessFile>

	<Console name="STDOUT" target="SYSTEM_OUT">
		<PatternLayout header="JAVA_HOME:- ${env:JAVA_HOME}; PATH:- ${env:Path}; JAVA_TOOL_OPTIONS:- ${env:JAVA_TOOL_OPTIONS}; Java Runtime:- ${java:runtime}; Java VM:- ${java:vm}; OS:- ${java:os}; Locale:- ${java:locale}; ${sys:line.separator}">
			<Pattern>%p [%t] %m%n</Pattern>
		</PatternLayout>
	</Console>

  </Appenders>
  
  <Loggers>
	<Logger name="common.source" level="debug"  additivity="false">
	  <AppenderRef ref="STDOUT"/>
	</Logger>
	<Root level="info">	
	  <AppenderRef ref="STDOUT"/>
	</Root>
	<Logger name="logstash.json" level="debug" additivity="false">
	  <AppenderRef ref="RollingRandomAccessFile"/>
	</Logger>
  </Loggers>
  
</Configuration>